* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}


body {
    background-color: wheat;

    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    gap: 1em;
    outline: 1px dashed #ddd;
}

header,
main,
aside,
footer {
    outline: 1px dashed #ccc;
}

body {
    display: grid;

    gap: 1em;
    padding: 1em;
}

header>nav {
    width: 100%;
    background-color: white;
    display: grid;

    gap: 1em;
    grid-template-columns: 1fr 2fr 1fr;

}

header>nav>ul>li {
    display: inline-block;
    text-decoration: none;
    list-style: none;
}

header>nav>ul {
    display: grid;

    gap: 1em;
    grid-template-columns: repeat(5, 1fr);
    grid-column-start: 2;
}



header>h1+p {
    display: grid;
    justify-content: center;
}



header>nav>ul>li>a {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 40px;
}

header>nav>ul>li>a:hover {
    background-color: #394047;
    justify-content: center;
    align-items: center;
}


/* Header H1 */
header>h1 {
    margin: .5em;
    margin-top: 10%;
}





#logo {
    display: grid;
    height: 4.5em;
    width: 5em;
    justify-content: left;
    align-items: center;

}

#imgs {
    margin-top: 5%;
    margin-left: 10%;
    height: 15em;
    width: 15em;
    float: left;
}

#imgs1 {
    margin-top: 5%;
    margin-right: 10%;
    height: 15em;
    width: 15em;
    float: right;

}



#img1 {

    width: 10em;
    float: left;
    margin-right: 10px;
}


h1 {
    display: grid;
    justify-content: center;
    align-items: center;
    color: #ff0707;
    font-size: 3.4em
}

h3 {
    text-align: center;
    color: #ff0707;
    font-size: 50px;
}

h4 {
    text-align: center;
    color: #ff0707;
    font-size: 25px;
    margin-top: 30%;
}

p {
    font-size: 1.2em;
    line-height: 1.4em;
    margin: 0.5em;
}

a {
    color: blue;
    text-decoration: none;
    list-style: none;
}

a:hover {
    color: #020e01;
}








header>button {
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    margin: 0.5em 0;
}



.content {
    display: flex;
    margin-bottom: .5em;
}



main {
    width: 80%;
    order: 2;
    margin-left: 2%;
    margin-right: 9%;
}

aside {
    margin-left: 10%;
    width: 20%;
    order: 1;
}


footer {
    padding: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    margin-right: 6em;
    margin-left: 7em;
}